In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import re
from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings('ignore')

In [53]:
df = pd.read_csv('30000_advanced_features_dataset.csv')
df

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
0,95241,189061,189062,is michelle obama a transgender person,what are the most attractive photos of michell...,0,38,53,6,9,...,0.222220,0,1,3,7.5,0.384615,37,55,53,54
1,185512,366337,366338,what is the main reason behind 500 1k rs not...,why are 500 and 1k notes being banned in india,1,132,46,28,10,...,0.208332,1,1,14,17.0,0.234043,43,67,44,63
2,178179,351959,351960,why england is not returning kohinoor diamond ...,why will not britain return the koh i noor dia...,1,59,59,10,12,...,0.416663,1,1,2,11.0,0.216667,71,71,73,78
3,366934,718195,718196,what will a career in nabard be like how is i...,is an engineer eligible for the nabard assista...,0,120,61,25,10,...,0.086956,0,1,13,16.5,0.145161,36,43,34,35
4,215887,425692,425693,which mba college should i opt for in asia wit...,which colleges can i get into with 770 gmat score,0,67,49,15,10,...,0.333331,0,1,5,12.5,0.220000,66,63,71,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,185158,365646,365647,what is the best place to visit for summer,what is the best place to visit in summer,1,42,41,9,9,...,0.888879,1,1,0,9.0,0.761905,94,93,94,96
29996,277866,546311,546312,how can i get over this girl,how do i get over a girl i cannot be with,1,28,41,7,11,...,0.454541,0,1,4,9.0,0.413793,61,75,75,81
29997,387648,757859,757860,how do i become a graphics designer,should i become a graphic designer,0,35,34,7,6,...,0.571420,1,1,1,6.5,0.542857,90,88,81,87
29998,280197,550837,550838,how do i bake a cake in a microwave oven,how do you bake cakes in a convection oven,0,40,42,10,9,...,0.599994,1,1,1,9.5,0.170732,78,75,63,78
29999,293568,576715,576716,what can i do professionally to help people an...,why do people want to live a very long life,0,70,43,14,10,...,0.285712,0,1,4,12.0,0.181818,42,51,46,51

In [54]:
df['question1'][3090]

'Here ,was number 111'

In [55]:
df.isnull().sum()

id                      0
qid1                    0
qid2                    0
question1               0
question2               1
is_duplicate            0
q1_len                  0
q2_len                  0
q1_num_words            0
q2_num_words            0
word_common             0
word_total              0
word_share              0
cwc_min                 0
cwc_max                 0
csc_min                 0
csc_max                 0
ctc_min                 0
ctc_max                 0
last_word_eq            0
first_word_eq           0
abs_len_diff            0
mean_len                0
longest_substr_ratio    0
fuzz_ratio              0
fuzz_partial_ratio      0
token_sort_ratio        0
token_set_ratio         0
dtype: int64

In [56]:
df= df.dropna()

In [57]:
ques_df = df[['question1','question2']]

In [58]:
final_df = df.drop(columns=['id','qid1','qid2','question1','question2'])
final_df

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
0,0,38,53,6,9,2,13,0.15,0.499987,0.499987,...,0.222220,0,1,3,7.5,0.384615,37,55,53,54
1,1,132,46,28,10,5,28,0.18,0.799984,0.285712,...,0.208332,1,1,14,17.0,0.234043,43,67,44,63
2,1,59,59,10,12,5,17,0.29,0.333328,0.333328,...,0.416663,1,1,2,11.0,0.216667,71,71,73,78
3,0,120,61,25,10,2,29,0.07,0.166664,0.099999,...,0.086956,0,1,13,16.5,0.145161,36,43,34,35
4,0,67,49,15,10,5,20,0.25,0.399992,0.285710,...,0.333331,0,1,5,12.5,0.220000,66,63,71,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1,42,41,9,9,8,10,0.80,0.999975,0.999975,...,0.888879,1,1,0,9.0,0.761905,94,93,94,96
29996,1,28,41,7,11,5,12,0.42,0.999950,0.666644,...,0.454541,0,1,4,9.0,0.413793,61,75,75,81
29997,0,35,34,7,6,4,9,0.44,0.666644,0.666644,...,0.571420,1,1,1,6.5,0.542857,90,88,81,87
29998,0,40,42,10,9,6,12,0.50,0.499987,0.499987,...,0.599994,1,1,1,9.5,0.170732,78,75,63,78
29999,0,70,43,14,10,4,20,0.20,0.199996,0.199996,...,0.285712,0,1,4,12.0,0.181818,42,51,46,51

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
questions = list(ques_df['question1']) + list(ques_df['question2'])
cv = CountVectorizer(max_features=2000, ngram_range =(1,2))
q1_arr ,q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [13]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1,temp_df2] , axis=1)
temp_df

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
final_df = pd.concat([final_df,temp_df],axis=1)
final_df

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0,38,53,6,9,2,13,0.15,0.499988,0.499988,...,0,0,0,0,0,0,0,0,0,0
1,1,132,46,28,10,5,28,0.18,0.799984,0.285712,...,0,0,0,0,0,0,0,0,0,0
2,1,59,59,10,12,5,17,0.29,0.333328,0.333328,...,0,0,0,0,0,0,0,0,0,0
3,0,120,61,25,10,2,29,0.07,0.166664,0.099999,...,0,0,0,0,0,0,0,0,0,0
4,0,67,49,15,10,5,20,0.25,0.399992,0.285710,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1,42,41,9,9,8,10,0.80,0.999975,0.999975,...,0,0,0,0,0,0,0,0,0,0
29996,1,28,41,7,11,5,12,0.42,0.999950,0.666644,...,0,0,0,0,0,0,0,0,0,0
29997,0,35,34,7,6,4,9,0.44,0.666644,0.666644,...,0,0,0,0,0,0,0,0,0,0
29998,0,40,42,10,9,6,12,0.50,0.499988,0.499988,...,0,0,0,0,0,0,0,0,0,0
29999,0,70,43,14,10,4,20,0.20,0.199996,0.199996,...,0,0,0,0,0,0,0,0,0,0

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.2,random_state=1)

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7825

In [17]:
cv2 = CountVectorizer(max_features=3000, ngram_range =(1,3))
q11_arr ,q22_arr = np.vsplit(cv2.fit_transform(questions).toarray(),2)

In [18]:
temp_df11 = pd.DataFrame(q11_arr, index= ques_df.index)
temp_df22 = pd.DataFrame(q22_arr, index= ques_df.index)
temp_df2 = pd.concat([temp_df11,temp_df22] , axis=1)
temp_df2

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
final_df2 = pd.concat([final_df,temp_df],axis=1)
final_df2

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0,38,53,6,9,2,13,0.15,0.499988,0.499988,...,0,0,0,0,0,0,0,0,0,0
1,1,132,46,28,10,5,28,0.18,0.799984,0.285712,...,0,0,0,0,0,0,0,0,0,0
2,1,59,59,10,12,5,17,0.29,0.333328,0.333328,...,0,0,0,0,0,0,0,0,0,0
3,0,120,61,25,10,2,29,0.07,0.166664,0.099999,...,0,0,0,0,0,0,0,0,0,0
4,0,67,49,15,10,5,20,0.25,0.399992,0.285710,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1,42,41,9,9,8,10,0.80,0.999975,0.999975,...,0,0,0,0,0,0,0,0,0,0
29996,1,28,41,7,11,5,12,0.42,0.999950,0.666644,...,0,0,0,0,0,0,0,0,0,0
29997,0,35,34,7,6,4,9,0.44,0.666644,0.666644,...,0,0,0,0,0,0,0,0,0,0
29998,0,40,42,10,9,6,12,0.50,0.499988,0.499988,...,0,0,0,0,0,0,0,0,0,0
29999,0,70,43,14,10,4,20,0.20,0.199996,0.199996,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.2,random_state=1)

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.785

In [10]:
X_train.shape

(23999, 22)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features =2000)
q1t_arr ,q2t_arr = np.vsplit(tfidf.fit_transform(questions).toarray(),2)

In [14]:
temp_dft1 = pd.DataFrame(q1t_arr, index= ques_df.index)
temp_dft2 = pd.DataFrame(q2t_arr, index= ques_df.index)
temp_dft = pd.concat([temp_dft1,temp_dft2] , axis=1)
temp_dft

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.606174,0.0,0.0,0.0,0.0,0.0,0.0
29999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
final_dft = pd.concat([final_df, temp_dft],axis=1)
final_dft

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0,38,53,6,9,2,13,0.15,0.499988,0.499988,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,1,132,46,28,10,5,28,0.18,0.799984,0.285712,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,1,59,59,10,12,5,17,0.29,0.333328,0.333328,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0,120,61,25,10,2,29,0.07,0.166664,0.099999,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0,67,49,15,10,5,20,0.25,0.399992,0.285710,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1,42,41,9,9,8,10,0.80,0.999975,0.999975,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29996,1,28,41,7,11,5,12,0.42,0.999950,0.666644,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29997,0,35,34,7,6,4,9,0.44,0.666644,0.666644,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29998,0,40,42,10,9,6,12,0.50,0.499988,0.499988,...,0.0,0.0,0.0,0.606174,0.0,0.0,0.0,0.0,0.0,0.0
29999,0,70,43,14,10,4,20,0.20,0.199996,0.199996,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(final_dft.iloc[:,1:].values,final_dft.iloc[:,0].values,test_size=0.2,random_state=1)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7808333333333334

# word2vec

In [18]:
import gensim
from gensim.utils import simple_preprocess

In [59]:
from nltk import sent_tokenize,word_tokenize
story =[]
questions = list(ques_df['question1']) + list(ques_df['question2'])
for doc in questions:
    raw_sent = sent_tokenize(doc)
    for sent in raw_sent:
        story.append(simple_preprocess(sent))

In [60]:
len(story)

59998

In [101]:
model = gensim.models.Word2Vec(window=10,min_count=2)

In [102]:
model.build_vocab(story)

In [103]:
model.train(story, total_examples=model.corpus_count,epochs=model.epochs)

(2206011, 3134090)

In [104]:
def document_vector(doc):
    doc = [word for word in doc.split() if word in model.wv.index_to_key]
    return np.mean(model.wv[doc],axis=0)

In [84]:
document_vector(ques_df['question1'].values[29998])

array([-0.53036714, -0.00831612,  0.224935  ,  0.68127894, -0.5272065 ,
       -0.46875465,  0.25847828,  0.4745493 , -0.52870524, -0.44407606,
        0.11851392, -1.019911  , -0.25301647,  0.18891788, -0.30394572,
       -0.37159848,  0.09993097, -0.2449909 , -0.25924554, -0.84090537,
        0.16450483, -0.02330386,  0.36032605, -0.00967271, -0.25259045,
        0.38972867, -0.36863887,  0.12974192, -0.07306664, -0.21945363,
        0.15148488,  0.49293563,  0.17886607, -0.41513625,  0.10831378,
        0.56523055, -0.01677633, -0.6359643 , -0.3772881 , -1.0657269 ,
        0.5214727 , -0.77377707, -0.37750646, -0.16166316,  0.46024156,
       -0.4174148 , -0.42098084, -0.65245646,  0.46530032,  0.16680218,
       -0.11668835, -0.29543188,  0.10639019, -0.15502839, -0.08731142,
        0.07736634,  0.1234901 , -0.6113042 , -0.17926818,  0.06657968,
       -0.06332939, -0.10804226,  0.3752245 ,  0.00769631, -0.5144415 ,
       -0.14394169, -0.19705369,  0.6828351 , -0.5115636 ,  0.3968042 ,
       -0.299499  ,  0.269716  , -0.05509895,  0.47267935,  0.7789815 ,
        0.36614552, -0.12012101, -0.02864951, -0.03731629, -0.06033126,
       -0.53805846, -0.04415793, -0.35280278,  0.85077715, -0.90773004,
       -0.31722316,  0.58514535,  0.1882265 ,  0.4803339 ,  0.75597507,
       -0.13359596,  0.22780927,  0.13665244,  0.26386115,  0.6936385 ,
        0.5968791 ,  0.34104672, -0.22298284, -0.24004741,  0.3845602 ],
      dtype=float32)

In [105]:
x=[]
from tqdm import tqdm
for doc in tqdm(ques_df['question1'].values):
    x.append(document_vector(doc))

100%|██████████| 29999/29999 [00:29<00:00, 1014.86it/s]

In [106]:
y=[]
from tqdm import tqdm
for doc in tqdm(ques_df['question2'].values):
    y.append(document_vector(doc))

100%|██████████| 29999/29999 [00:32<00:00, 911.16it/s]

In [35]:
ques_df['question1'][3090]

'111'

In [107]:
x = np.array(x)
y= np.array(y)

In [108]:
x= x.astype(np.float64)
y= y.astype(np.float64)

In [68]:
ques_df

,question1,question2
0,is michelle obama a transgender person,what are the most attractive photos of michell...
1,what is the main reason behind 500 1k rs not...,why are 500 and 1k notes being banned in india
2,why england is not returning kohinoor diamond ...,why will not britain return the koh i noor dia...
3,what will a career in nabard be like how is i...,is an engineer eligible for the nabard assista...
4,which mba college should i opt for in asia wit...,which colleges can i get into with 770 gmat score
...,...,...
29995,what is the best place to visit for summer,what is the best place to visit in summer
29996,how can i get over this girl,how do i get over a girl i cannot be with
29997,how do i become a graphics designer,should i become a graphic designer
29998,how do i bake a cake in a microwave oven,how do you bake cakes in a convection oven
29999,what can i do professionally to help people an...,why do people want to live a very long life

In [70]:
final_df

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
0,0,38,53,6,9,2,13,0.15,0.499987,0.499987,...,0.222220,0,1,3,7.5,0.384615,37,55,53,54
1,1,132,46,28,10,5,28,0.18,0.799984,0.285712,...,0.208332,1,1,14,17.0,0.234043,43,67,44,63
2,1,59,59,10,12,5,17,0.29,0.333328,0.333328,...,0.416663,1,1,2,11.0,0.216667,71,71,73,78
3,0,120,61,25,10,2,29,0.07,0.166664,0.099999,...,0.086956,0,1,13,16.5,0.145161,36,43,34,35
4,0,67,49,15,10,5,20,0.25,0.399992,0.285710,...,0.333331,0,1,5,12.5,0.220000,66,63,71,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1,42,41,9,9,8,10,0.80,0.999975,0.999975,...,0.888879,1,1,0,9.0,0.761905,94,93,94,96
29996,1,28,41,7,11,5,12,0.42,0.999950,0.666644,...,0.454541,0,1,4,9.0,0.413793,61,75,75,81
29997,0,35,34,7,6,4,9,0.44,0.666644,0.666644,...,0.571420,1,1,1,6.5,0.542857,90,88,81,87
29998,0,40,42,10,9,6,12,0.50,0.499987,0.499987,...,0.599994,1,1,1,9.5,0.170732,78,75,63,78
29999,0,70,43,14,10,4,20,0.20,0.199996,0.199996,...,0.285712,0,1,4,12.0,0.181818,42,51,46,51

In [109]:
x_data = pd.DataFrame(x)
y_data = pd.DataFrame(y)

In [110]:
finalw_df = pd.concat([final_df,x_data,y_data], axis=1)
finalw_df

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,90,91,92,93,94,95,96,97,98,99
0,0.0,38.0,53.0,6.0,9.0,2.0,13.0,0.15,0.499987,0.499987,...,-0.081008,-0.181846,0.043656,-0.284470,0.911652,0.134902,-0.161196,0.086004,-0.066971,0.125468
1,1.0,132.0,46.0,28.0,10.0,5.0,28.0,0.18,0.799984,0.285712,...,0.216604,0.528166,-0.140012,0.085546,0.737972,0.560770,0.479416,-0.249945,-0.383590,-0.103985
2,1.0,59.0,59.0,10.0,12.0,5.0,17.0,0.29,0.333328,0.333328,...,0.261018,0.536788,0.459042,0.177220,0.707681,1.108182,0.201348,-0.544829,-0.785933,0.320921
3,0.0,120.0,61.0,25.0,10.0,2.0,29.0,0.07,0.166664,0.099999,...,0.422205,0.293958,-0.082359,-0.168592,0.749170,0.755016,-0.289738,-0.575909,-0.137944,0.169422
4,0.0,67.0,49.0,15.0,10.0,5.0,20.0,0.25,0.399992,0.285710,...,1.045250,0.381819,-0.561544,0.207188,0.252208,-0.123082,-0.323588,-0.564712,-0.078848,0.371620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1.0,42.0,41.0,9.0,9.0,8.0,10.0,0.80,0.999975,0.999975,...,0.514043,0.479171,0.025565,0.262315,0.411220,0.730304,0.128723,-0.488675,-0.078426,0.894383
29996,1.0,28.0,41.0,7.0,11.0,5.0,12.0,0.42,0.999950,0.666644,...,0.303090,0.692995,0.078118,0.703030,0.959234,0.124965,0.052928,-0.480969,-0.189443,0.291008
29997,0.0,35.0,34.0,7.0,6.0,4.0,9.0,0.44,0.666644,0.666644,...,0.362742,0.194083,0.098163,0.109113,0.463521,0.636916,0.282300,-0.471562,-0.080146,0.306487
29998,0.0,40.0,42.0,10.0,9.0,6.0,12.0,0.50,0.499987,0.499987,...,0.580127,0.441762,0.612558,0.580019,0.535653,1.090930,0.836119,-0.232894,-0.774645,0.807484
29999,0.0,70.0,43.0,14.0,10.0,4.0,20.0,0.20,0.199996,0.199996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
bad_rows = (np.abs(finalw_df) > np.finfo(np.float32).max).any(axis=1) | np.isinf(finalw_df).any(axis=1) | np.isnan(finalw_df).any(axis=1)

In [112]:
cleaned_df = finalw_df[~bad_rows]

In [113]:
cleaned_df

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,90,91,92,93,94,95,96,97,98,99
0,0.0,38.0,53.0,6.0,9.0,2.0,13.0,0.15,0.499987,0.499987,...,-0.081008,-0.181846,0.043656,-0.284470,0.911652,0.134902,-0.161196,0.086004,-0.066971,0.125468
1,1.0,132.0,46.0,28.0,10.0,5.0,28.0,0.18,0.799984,0.285712,...,0.216604,0.528166,-0.140012,0.085546,0.737972,0.560770,0.479416,-0.249945,-0.383590,-0.103985
2,1.0,59.0,59.0,10.0,12.0,5.0,17.0,0.29,0.333328,0.333328,...,0.261018,0.536788,0.459042,0.177220,0.707681,1.108182,0.201348,-0.544829,-0.785933,0.320921
3,0.0,120.0,61.0,25.0,10.0,2.0,29.0,0.07,0.166664,0.099999,...,0.422205,0.293958,-0.082359,-0.168592,0.749170,0.755016,-0.289738,-0.575909,-0.137944,0.169422
4,0.0,67.0,49.0,15.0,10.0,5.0,20.0,0.25,0.399992,0.285710,...,1.045250,0.381819,-0.561544,0.207188,0.252208,-0.123082,-0.323588,-0.564712,-0.078848,0.371620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,0.0,53.0,34.0,11.0,8.0,3.0,15.0,0.20,0.249994,0.199996,...,0.342219,0.372661,0.409757,-0.160408,1.125393,0.881159,-0.180660,0.033588,-0.055709,0.615418
29995,1.0,42.0,41.0,9.0,9.0,8.0,10.0,0.80,0.999975,0.999975,...,0.514043,0.479171,0.025565,0.262315,0.411220,0.730304,0.128723,-0.488675,-0.078426,0.894383
29996,1.0,28.0,41.0,7.0,11.0,5.0,12.0,0.42,0.999950,0.666644,...,0.303090,0.692995,0.078118,0.703030,0.959234,0.124965,0.052928,-0.480969,-0.189443,0.291008
29997,0.0,35.0,34.0,7.0,6.0,4.0,9.0,0.44,0.666644,0.666644,...,0.362742,0.194083,0.098163,0.109113,0.463521,0.636916,0.282300,-0.471562,-0.080146,0.306487
29998,0.0,40.0,42.0,10.0,9.0,6.0,12.0,0.50,0.499987,0.499987,...,0.580127,0.441762,0.612558,0.580019,0.535653,1.090930,0.836119,-0.232894,-0.774645,0.807484

In [114]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(cleaned_df.iloc[:,1:].values,cleaned_df.iloc[:,0].values,test_size=0.2,random_state=1)

In [115]:
X_train.shape

(23998, 222)

In [116]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7418333333333333